:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  --primary: #3ca7bf;
  --grey: #888;
  --dark: #313154;
  --danger: #f44c49e8;
  --shadow: 0 1px 3px rgba(207, 39, 39, 0.1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f6ddb7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f6ddb7 10px ), repeating-linear-gradient( #f1816a55, #f1816a );
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}